// Fancybox
@import '../../../node_modules/@fancyapps/ui/dist/fancybox';

// Swiper
@import '../../../node_modules/swiper/swiper-bundle'; 

// Bootstrap
@import '../../../node_modules/bootstrap/dist/css/bootstrap';
