@import 'blocks/vars';

// Media 1440px
@media screen and (max-width: 1400px) {}

// Media 1200px
@media screen and (max-width: 1200px) {
    .container {
        max-width: 1440px;
        padding: 0 20px;
    }
}

// Media 992px
@media screen and (max-width: 992px) {}

// Media 768px
@media screen and (max-width: 768px) {
    .container {
        padding: 0 12px;
    }
}

// Media 576px
@media screen and (max-width: 576px) {}

// Media 460px
@media screen and (max-width: 460px) {}

// Media 360px
@media screen and (max-width: 360px) {}