// Colors
$primary-color: #000000;
$secondry-color: #ffffff;
$base-color: #24b600;

// Spaces
$section-space: 100px;
$inner-space: 50px;

// font-size
$h1: 36px;
$h2: 32px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 18px;
$p-text: 16px;
